/**
 * tokens-console-text.css - Console 字号、行高和字距 token。
 * @package @vxture/design-system
 * @layer Presentation
 * @category styles
 * @author AI-Generated
 * @date 2026-05-17
 */

:root {
  --vx-console-text-size-062r: 0.62rem;
  --vx-console-text-size-064r: 0.64rem;
  --vx-console-text-size-066r: 0.66rem;
  --vx-console-text-size-067r: 0.67rem;
  --vx-console-text-size-068r: 0.68rem;
  --vx-console-text-size-072r: 0.72rem;
  --vx-console-text-size-076r: 0.76rem;
  --vx-console-text-size-078r: 0.78rem;
  --vx-console-text-size-07r: 0.7rem;
  --vx-console-text-size-082r: 0.82rem;
  --vx-console-text-size-084r: 0.84rem;
  --vx-console-text-size-086r: 0.86rem;
  --vx-console-text-size-088r: 0.88rem;
  --vx-console-text-size-08r: 0.8rem;
  --vx-console-text-size-092r: 0.92rem;
  --vx-console-text-size-094r: 0.94rem;
  --vx-console-text-size-096r: 0.96rem;
  --vx-console-text-size-09r: 0.9rem;
  --vx-console-text-size-105r: 1.05rem;
  --vx-console-text-size-15r: 1.5rem;
  --vx-console-text-size-1r: 1rem;
  --vx-console-text-line-2r: 2rem;
  --vx-console-text-tracking-001e: 0.01em;
  --vx-console-text-tracking-002e: 0.02em;
  --vx-console-text-tracking-008e: 0.08em;
  --vx-console-text-tracking-018e: 0.18em;
  --vx-console-text-tracking-01e: 0.1em;
}
