/**
 * tokens-admin-base-track.css - Admin 基础 track 语义 token。
 * @package @vxture/design-system
 * @layer Presentation
 * @category styles
 * @author AI-Generated
 * @date 2026-05-18
 */

:root {
  --vx-admin-track-10r: 10rem;
  --vx-admin-track-115r: 1.15rem;
  --vx-admin-track-11r-large: 11rem;
  --vx-admin-track-125r: 1.25rem;
  --vx-admin-track-12r-large: 12rem;
  --vx-admin-track-13r: 13rem;
  --vx-admin-track-15r: 1.5rem;
  --vx-admin-track-16r: 16rem;
  --vx-admin-track-175r: 1.75rem;
  --vx-admin-track-17r: 17rem;
  --vx-admin-track-18r-large: 18rem;
  --vx-admin-track-20r: 20rem;
  --vx-admin-track-22r: 22rem;
  --vx-admin-track-25r: 2.5rem;
  --vx-admin-track-275r: 2.75rem;
  --vx-admin-track-2r: 2rem;
  --vx-admin-track-325r: 3.25rem;
  --vx-admin-track-3r: 3rem;
  --vx-admin-track-475r: 4.75rem;
  --vx-admin-track-4r: 4rem;
  --vx-admin-track-55r: 5.5rem;
  --vx-admin-track-5r: 5rem;
  --vx-admin-track-65r: 6.5rem;
  --vx-admin-track-6r: 6rem;
  --vx-admin-track-85r: 8.5rem;
  --vx-admin-track-8r: 8rem;
  --vx-admin-track-9r: 9rem;
}
