/**
 * tokens-console-size.css - Console 尺寸与轨道 token。
 * @package @vxture/design-system
 * @layer Presentation
 * @category styles
 * @author AI-Generated
 * @date 2026-05-17
 */

:root {
  --vx-console-size-105r-large: 10.5rem;
  --vx-console-size-11r-large: 11rem;
  --vx-console-size-128r: 1.28rem;
  --vx-console-size-12r-large: 12rem;
  --vx-console-size-15p: 1.5px;
  --vx-console-size-15r: 1.5rem;
  --vx-console-size-175r: 1.75rem;
  --vx-console-size-185r: 1.85rem;
  --vx-console-size-18r-large: 18rem;
  --vx-console-size-1r: 1rem;
  --vx-console-size-21r: 2.1rem;
  --vx-console-size-225r: 2.25rem;
  --vx-console-size-228r: 2.28rem;
  --vx-console-size-245r: 2.45rem;
  --vx-console-size-24r: 2.4rem;
  --vx-console-size-255r: 2.55rem;
  --vx-console-size-25r: 2.5rem;
  --vx-console-size-28r-large: 28rem;
  --vx-console-size-2r: 2rem;
  --vx-console-size-31r: 3.1rem;
  --vx-console-size-325r: 3.25rem;
  --vx-console-size-360p: 360px;
  --vx-console-size-3p: 3px;
  --vx-console-size-3r: 3rem;
  --vx-console-size-4p: 4px;
  --vx-console-size-540p: 540px;
  --vx-console-size-8r: 8rem;
  --vx-console-track-12r-large: 12rem;
  --vx-console-track-18r-large: 18rem;
}
