.vx-verification-directory-list
  .vx-tenant-directory-list__header
  > span:not(:first-child):not(:last-child) {
  justify-self: start;
  text-align: left;
}

.vx-verification-directory-list
  .vx-tenant-directory-row
  > span:not(.vx-tenant-directory-row__index):not(.vx-tenant-actions) {
  justify-self: start;
  text-align: left;
}

.vx-verification-directory-list .vx-tenant-directory-list__header > span {
  justify-self: center;
  text-align: center;
}
