/* Billing transaction exception styles. */

.vx-billing-exception-tags {
  min-width: 0;
  display: inline-flex;
  justify-content: center;
  gap: var(--vx-admin-management-space-035r);
  flex-wrap: wrap;
}

.vx-billing-exception-empty {
  color: var(--vx-color-gray-400) !important;
}

