.vx-tenant-detail-summary--collapsed .vx-tenant-detail__identity {
  display: flex;
  align-items: center;
  gap: var(--vx-admin-management-space-0625r);
}

.vx-tenant-detail-summary--collapsed .vx-tenant-detail__icon {
  width: var(--vx-admin-management-size-175r);
  height: var(--vx-admin-management-size-175r);
  display: inline-grid;
  flex: 0 0 auto;
}

.vx-tenant-detail-summary--collapsed .vx-tenant-detail__icon svg {
  width: var(--vx-admin-management-size-15r);
  height: var(--vx-admin-management-size-15r);
}
