.vx-admin-permission-tree-node__summary {
  padding-left: 0;
  justify-items: start;
  text-align: left;
}

.vx-admin-permission-tree-node__summary span {
  color: var(--vx-color-gray-400);
  font-size: var(--vx-admin-caption-size);
  font-weight: 400;
}

.vx-admin-permission-tree-node__summary span,
.vx-admin-permission-tree-node__code span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
