.vx-products-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--vx-admin-products-space-2r);
}

.vx-products-grid--grouped {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--vx-admin-products-space-4r);
  row-gap: var(--vx-admin-products-space-4r);
}
