@media (max-width: 960px) {
  .vx-tenant-detail-summary {
    padding: var(--vx-admin-management-space-15r);
  }

  .vx-tenant-detail {
    padding: 0;
  }

  .vx-tenant-detail-summary--collapsed {
    padding-block: var(--vx-admin-management-space-1r);
  }

  .vx-tenant-detail__header {
    grid-template-columns: 1fr;
  }

  .vx-tenant-detail__header > section:not(:last-child) {
    padding-right: 0;
    padding-bottom: var(--vx-admin-management-space-1r);
    border-right: 0;
    border-bottom: var(--vx-admin-management-line-width-1p) dashed var(--tenant-line);
  }

  .vx-tenant-block__actions {
    justify-content: flex-end;
  }

  .vx-tenant-detail__toolbar {
    align-items: stretch;
    flex-direction: column;
    gap: var(--vx-admin-management-space-075r);
  }
}
