.vx-payment-row__payment,
.vx-payment-row__bill {
  justify-self: start;
  justify-items: start;
  text-align: left;
}

.vx-payment-row__amount,
.vx-payment-row__status,
.vx-payment-row__reconcile {
  justify-self: center;
  justify-items: center;
  text-align: center;
}
