/* Admin overview product ranking medal styles. */

.admin-overview-model-category__row
  > span.admin-overview-product-ranking__medal {
  width: var(--vx-admin-overview-size-235r);
  height: var(--vx-admin-overview-size-235r);
  border-radius: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
}

.admin-overview-model-category__row
  > span.admin-overview-product-ranking__medal--1 {
  background-image: url("https://raw.githubusercontent.com/microsoft/fluentui-emoji/main/assets/1st%20place%20medal/Color/1st_place_medal_color.svg");
}
