.vx-billing-row__bill,
.vx-billing-row__plan {
  justify-self: start;
  justify-items: start;
  text-align: left;
}

.vx-billing-row__amount,
.vx-billing-row__exception,
.vx-billing-row__payment,
.vx-billing-row__invoice {
  justify-self: center;
  justify-items: center;
  text-align: center;
}
